<%- include('_header') %>

<h1><%= title %></h1>

<button onclick="window.location.href='/new-customer'">Create New Customer</button>
<button onclick="window.location.href='/'">Home</button>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>ICO</th>
    <th>DICO</th>
    <th>Actions</th>
  </tr>

  <% for (const customer of customers) { %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.address %></td>
      <td><%= customer.ico %></td>
      <td><%= customer.dico %></td>
      <td>
        <a href="/edit-customer/<%= customer.id %>">Edit</a>
        <a href="/delete-customer/<%= customer.id %>" onclick="return confirm('Are you sure you want to delete this customer, all the customer invoices will be deleted as well?')">Delete</a>
      </td>
    </tr>
  <% } %>
</table>

<%- include('_footer') %>
